section.tools {
  max-width: 980px;
  margin: auto;
  padding: 100px 20px;

  .images {
    text-align: center;
    width: 70%;
    float: right;
  }

  .header {
    width: 30%;
    float: left;
  }

  img {
    /*margin-top: 50px;*/
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
  }

  h2 {
    font-size: 48px;
    color: #595959;
  }
}
