div.navigation {
  position: fixed;
  width: 100%;
  bottom: 20px;
  margin: auto;
  font-size: 30px;
  padding: 0 20px;

  .container {
    /*max-width: 1080px;*/
    max-width: 980px;
    text-align: right;
    margin: auto;
    position: relative;

    a {
      text-decoration: none;
    }

    i {
      color: #c5c5c5;
      padding: 5px;
    }

    i:hover {
      color: #259CB3;
    }

    a.something {
      position: absolute;
      left: 0;
      bottom: 0;
      text-decoration: none;
      font-size: 18px;
      text-transform: uppercase;
      color: #c5c5c5;
    }

    a.something:hover {
      color: #259CB3;
    }
  }
}
