section.contact {
  position: fixed;
  width: 35vw;
  height: 100vh;
  z-index: 10;
  /*background-color: #3d3d3d;*/
  background-color: #2e2e2e;
  top: 0;
  right: 0;
  padding: 10px;
  box-shadow: inset 0px 0px 10px black;

  i {
    color: #c5c5c5;
    position: relative;
    top: 0;
    font-size: 24px;
    left: 0;
  }

  i:hover {
    cursor: pointer;
    /*color: #DC7070;*/
    color: #259CB3;
  }

  input {
    display: block;
    /*width: calc(100% - 20px);*/
    width: 100%;
    background: white;
    border: none;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    margin: 10px 0;
  }
}
