section.contact {
  position: fixed;
  width: 30vw;
  height: 100vh;
  z-index: 10;
  /*background-color: #3d3d3d;*/
  background-color: #2e2e2e;
  top: 0;
  right: 0;

  i {
    color: #c5c5c5;
    position: relative;
    top: 10px;
    font-size: 24px;
    left: 10px;
  }

  i:hover {
    cursor: pointer;
  }

  input {
    display: block;
    width: calc(100% - 20px);
    background: white;
    border: none;
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    margin: 10px;
  }
}
