section.home {
  /*background-image: url(../images/background.png);*/
  /*background-image: url(../images/imacbackground.jpeg);*/
  background-image: url(../../images/imacbackground.png);
  /*background-color: #259CB3;*/
  /*background-color: #393942;*/
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /*overflow: hidden;
  position: relative;*/
  color: white;
  min-height: 100vh;

  h1 {
    /*font-size: 62px;
    font-weight: normal;*/
    text-align: left;
    padding: 0 20px;
  }
  h4 {
    color: #c5c5c5;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    max-width: 600px;
    padding: 0 20px;
    /*letter-spacing: 0.4px;*/
    line-height: 1.5em;
  }

  .underline {
    position: relative;
  }
  .underline:after {
    content: '';
    height: 2px;
    width: 100%;
    /*background-color: #DC7070;*/
    background-color: #259CB3;
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  div.text {
    position: relative;
    top: 40vh;
    max-width: 980px;
    margin: auto;
    /*padding-top: 200px;*/
  }
}
